<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentInformationManagementSystem"
        tools:targetApi="31">
        <activity
            android:name=".activity.teacher.StudentCoursesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.teacher.EditStudentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.teacher.CourseStudentsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.teacher.ExportDataActivity"
            android:exported="false" />
        <activity
            android:name=".activity.teacher.ImportDataActivity"
            android:exported="false" />
        <activity
            android:name=".activity.teacher.CourseDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.teacher.ManageCoursesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.teacher.AddStudentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.teacher.StudentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.teacher.ManageStudentsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.teacher.TeacherMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.student.StudentMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.student.CourseSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.student.GradeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.student.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>